{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}generate_config_form{% endblock %}
{% block form_action %}{% url horizon:nova:loadbalancers:genconfig config_id %}{% endblock %}

{% block modal-header %}{% trans "Generate COnfiguration" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>{% trans "You can generate HAProxy Config." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Generate" %}" />
  <a href="{% url horizon:nova:loadbalancers:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
