{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}create_chain_image_conf_form{% endblock %}
{% block form_action %}{% url horizon:nova:chains:chain_images:mapconf chain_image.id %}{% endblock %}

{% block modal-header %}{% trans "Associcate Configuration To Chain" %}{% endblock %}
{% block modal_id %}create_chain_image_conf_modal{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "From here you can associate configuration to chain." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create Chain" %}" />
  <a href="{% url horizon:nova:chains:chain_images:detail chain_image.id %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
